#Mbdy{
    font-weight: bold;
}
#Hname{
    color: #ffffff;
    margin-right: auto;
    display: block;
    position: relative;
    bottom: -40px;
    padding-left: 10px;
}
#Hhome{
    color: #ffffff;
}
#Hhome:hover{
    color: greenyellow;
}
#Habout{
    color: #ffffff;
}
#Habout:hover{
    color: greenyellow;
}
#Heducation{
    color: #ffffff;
}
#Heducation:hover{
    color: greenyellow;
}
#Hskils{
    color: #ffffff;
}
#Hskils:hover{
    color: greenyellow;
}
#Hprojects{
    color: #ffffff;
}
#Hprojects:hover{
    color: greenyellow;
}
#Hlife{
    color: #ffffff;
}
#Hlife:hover{
    color: greenyellow;
}
#Hcontact{
    color: #ffffff;
}
#Hcontact:hover{
    color: greenyellow;
}
#intHi{
    color: #78E08F;
    font-size: 20px;
}
#Mynme{
    color: #FFF200;
    font-size: 30px;
}
#FSSE {
    color: #ffffff;
    font-size: 30px;
}
#Mynmeis{
    position: absolute;
    left: 40px;
    top: 350px;
}
#cntkme{
    color: #FF3838;
    font-size: 25px;
}
.headder{
    color: #EE5A24;
    font-size: 40px;
    text-align: center;
}

#abtName{
    position: relative;
    left: 90px;
    color: #32FF7E;
    list-style: none;
    padding-bottom: 5px;
}
#abtUnicty{
    position: relative;
    left: 90px;
    color: #32FF7E;
    list-style: none;
    padding-bottom: 5px;
}
#abtAddress{
    position: relative;
    left: 90px;
    color: #32FF7E;
    list-style: none;
    padding-bottom: 5px;
}
#abtBDay{
    position: relative;
    left: 90px;
    color: #32FF7E;
    list-style: none;
    padding-bottom: 5px;
}
#abtAge{
    position: relative;
    left: 90px;
    color: #32FF7E;
    list-style: none;
    padding-bottom: 5px;
}
#abtOcation{
    position: relative;
    left: 90px;
    color: #32FF7E;
    list-style: none;
    padding-bottom: 5px;
}
.Dcntct{
    color: white;
    font-size: 20px;
}
.cntct{
    color: white;
    font-size: 15px;
}
.SectionColor{
    position: relative;
    background:linear-gradient(to right,black,gray);
}
.lbl{
    color: white;
}
#btnSend{
    background-color: #E67E22;
    border-radius: 42%;
    background: linear-gradient(to right,orangered,white);
    border: none;
}
.Services{
    color: white;
}
btnsend:hover {
    color: #E67E22;
}
#Dnld{
    color: #E84118;
    font-size: 30px;
    position: relative;
    left: 80px;

}
#Dnld:visited{
    color: #E67E22;
}
header>nav>div>button{
    display: none;
}
input::placeholder{
    color: #000000;
}
header>section:first-child{
    border-radius: 50px;
}
header>nav>ul>li{
    display: inline-block;
    padding-right: 30px;
}
#PrflePc{
    border: 2px solid black;
    width: 25%;
    height: auto;
    border-radius: 200px;
    position:absolute;
    right: 10px;
    top: 120px;
}
a,a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
a{
    color: white;
}
a:hover{
    color: #FFF200;
}
#HmeBtn{
    border: none;
    border-radius: 12px;
    height: 30px;
    width: 75px;
    font-family: "Arial Rounded MT Bold";
    background-color:  green;
    position: fixed;
    bottom: 100px;
    right: 20px;
}
#HmeBtn:hover{
    background: linear-gradient(to right,purple,white);
}
#Cvdld{
    position: relative;
    left: 590px;
    font-size: 30px;

}
#cntctwp{
    position: absolute;
    left: 30px;
    top: 600px;
}
#cntctfb{
    position: absolute;
    left: 100px;
    top: 608px;
}
#cntctgit{
    position: absolute;
    left: 150px;
    top: 595px;
}
header>section>address>{
    position: absolute;
    left: 75px;
    top: 85px;
    border-radius: 100px;
}
#uorimg{
    width: 100%;
    height: auto;
}
#imgadrs{
    position: absolute;
    left: 75px;
    top: 115px;
}
#imgbod{
    position: absolute;
    left: 75px;
    top: 150px;
    border-radius: 50px;
}
#imgage{
    position: absolute;
    left: 75px;
    top: 185px;
    border-radius: 50px;
}
#imgoct{
    position: absolute;
    left: 75px;
    top: 220px;
    border-radius: 50px;
}
address>ul>li>i{
    padding-right: 10px;
    color: white;
}
header>nav>ul{
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 1%;
}
header>nav>ul>li>i{
    padding-right: 8px;
}
main>section:nth-child(5)>div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
main>section:nth-child(6)>dl>dt{
    color:#2ea5b1;
}
main>section:nth-child(6)>dl>dd{
    color: #43b941;
    padding-bottom: 15px;
}
main>section:nth-child(6)>dl>dt>i{
    color: #c9b525;
    padding-right: 5px;
}
main>section:nth-child(6)>dl{
    position: relative;
    left: 40px ;
}
fieldset{
    width: 20%;
    position: relative;
    right: 0;
    top: 0;
}
legend{
    font-weight: bold;
    font-size: 20px;
    color: #eba5e2;
}
footer>dl>dt{
    color: #E67E22;
    font-weight: bold;
    font-size: 30px;
}
footer>div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
footer>div>img{
    padding-right: 25px;
    width: 70px;
    height: 70px;
}
footer>div>img:nth-child(1){
    border-radius: 50%;
}
form{
    position: absolute;
    top: -10px;
    right: 50px;
    border: transparent;
}
form>fieldset>input{
    background-color: transparent;
    position:relative;
    left: 30px;
}
form>fieldset>label{
    color: #43b941;
    font-weight: bold;
}
form>fieldset>input:nth-child(3){
    position: relative;
    left: 10px;
}

#txtName{
    position: relative;
    left: 40px;
}
#txtEmail{
    position: relative;
    left: 40px;
}
#txtMsg{
    background-color: #b5b59a;
    border-radius: 10%;
    border: black;
}
footer>dl>dd{
    padding-bottom: 15px;
}
footer>dl>dd>i{
    color: #43b941;
    padding-right: 10px;
}
@media all and (max-width: 320px){
    #Hname{
        position: absolute;
        left: 100px;
        top: 2px;
    }
    header>nav>div>button{
        display: inline-block;
        background-color: #816767;
        font-weight: bold;
        color: #a7d3a6;
    }
    #navbar{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    #navbar a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    #navbar a:hover {background-color: #f1f1f1}

    #HderNav:hover #navbar{
        display: block;
    }
    #Hhome{
        display: block;
    }
    #Heducation{
        display: block;
    }
    #Hprojects{
    display: block;
    }
    #Hcontact{
        display: block;
    }
    #PrflePc{
     border: 2px solid black;
     width: 25%;
     height: auto;
     border-radius: 200px;
     position: absolute;
     right: 15px;
     top: 45px;
 }
    .headder{
        font-size: 25px;
    }
    #abtLi{
        position: relative;
        right: 100px;
    }
    main>header>section:nth-child(2)>a{
        display: none;
    }
    main>header>section:nth-child(3){
        display: none;
    }
    main>section:nth-child(3)>img{
        width: 100px;
        height: 100px;
        border-radius: 25%;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    main>section:nth-child(6)>form{
        position: relative;
        left: 2px;
    }
    main>section:nth-child(6)>dl>dt{
        font-size: 15px;
    }
    main>section:nth-child(6)>dl>dd {
        color: #43b941;
        padding-bottom: 15px;
        font-size: 12px;
    }
    main>section:nth-child(6)>form>fieldset>textarea{
        width: 265px;
    }
    main>section:nth-child(6)>dl{
        position: relative;
        left: 15px;
    }
    footer>dl>dt{
        position: relative;
        left: 20px;
    }
    footer>div{
        width: 30px;
        height: 30px;
        padding-left: 40px;
        display: contents;
    }
    footer>div>img{
        padding-right: 25px;
        width: 30px;
        height: 30px;
        padding-left: 18px;
    }
    main>section:nth-child(5)>div{

    }
    main>section:nth-child(3)>p{
       position: absolute;
    }
    #sk1{
        top: 140px;
        left: 50px;
    }
    #sk2{
        top: 140px;
        left: 192px;
    }
    #sk3{
        top: 264px;
        left: 45px;
    }
    #sk4{
        top: 264px;
        right: 45px;
    }
    main>section:nth-child(5)>div{
        display: flow-root;
        position: relative;
        left: 31px;
    }
    main>section:nth-child(4)>nav{
        position: relative;
        left: 32px;
    }
    main>section:nth-child(4)>nav>img{
        position: relative;
        left: 0px;
        padding-bottom: 20px;
    }
    #pr1{
        position: absolute;
        top: 115px;
        left: 110px;
    }
    #pr2{
        position: absolute;
        top: 310px;
        left: 110px;
    }
    #pr3{
        position: absolute;
        position: absolute;
        top: 455px;
        left: 110px;
    }
}
@media all and (max-width: 375px){
    #Hname{
        position: absolute;
        left: 135px;
        top: 2px;
    }
    header>nav>div>button{
        display: inline-block;
        background-color: #816767;
        font-weight: bold;
        color: #a7d3a6;
    }
    #navbar{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    #navbar a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    #navbar a:hover {background-color: #f1f1f1}

    #HderNav:hover #navbar{
        display: block;
    }
    #Hhome{
        display: block;
    }
    #Heducation{
        display: block;
    }
    #Hprojects{
        display: block;
    }
    #Hcontact{
        display: block;
    }
    #PrflePc{
        border: 2px solid black;
        width: 25%;
        height: auto;
        border-radius: 200px;
        position: absolute;
        right: 15px;
        top: 45px;
    }
    .headder{
        font-size: 25px;
    }
    #abtLi{
        position: relative;
        right: 100px;
    }
    main>header>section:nth-child(2)>a{
        display: none;
    }
    main>header>section:nth-child(3){
        display: none;
    }
    main>section:nth-child(3)>img{
        width: 100px;
        height: 100px;
        border-radius: 25%;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 40px;
    }
    main>section:nth-child(6)>form{
        position: relative;
        left: 20px;
    }
    main>section:nth-child(6)>dl>dt{
        font-size: 15px;
    }
    main>section:nth-child(6)>dl>dd {
        color: #43b941;
        padding-bottom: 15px;
        font-size: 12px;
    }
    main>section:nth-child(6)>form>fieldset>textarea{
        width: 265px;
    }
    main>section:nth-child(6)>dl{
        position: relative;
        left: 15px;
    }
    footer>dl>dt{
        position: relative;
        left: 20px;
    }
    footer>div{
        width: 30px;
        height: 30px;
        padding-left: 40px;
        display: contents;
    }
    footer>div>img{
        padding-right: 25px;
        width: 30px;
        height: 30px;
        padding-left: 30px;
    }
    main>section:nth-child(5)>div{

    }
    main>section:nth-child(3)>p{
        position: absolute;
    }
    #sk1{
        top: 140px;
        left: 75px;
    }
    #sk2{
        top: 140px;
        left: 230px;
    }
    #sk3{
        top: 264px;
        left: 75px;
    }
    #sk4{
        top: 264px;
        right: 65px;
    }
    main>section:nth-child(5)>div{
        display: flow-root;
        position: relative;
        left: 60px;
    }
    main>section:nth-child(4)>nav{
        position: relative;
        left: 60px;
    }
    main>section:nth-child(4)>nav>img{
        position: relative;
        left: 0px;
        padding-bottom: 20px;
    }
    #pr1{
        position: absolute;
        top: 115px;
        left: 110px;
    }
    #pr2{
        position: absolute;
        top: 310px;
        left: 110px;
    }
    #pr3{
        position: absolute;
        position: absolute;
        top: 455px;
        left: 110px;
    }
}
@media all and (max-width: 425px){
    #Hname{
        position: absolute;
        left: 135px;
        top: 2px;
    }
    header>nav>div>button{
        display: inline-block;
        background-color: #816767;
        font-weight: bold;
        color: #a7d3a6;
    }
    #navbar{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    #navbar a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    #navbar a:hover {background-color: #f1f1f1}

    #HderNav:hover #navbar{
        display: block;
    }
    #Hhome{
        display: block;
    }
    #Heducation{
        display: block;
    }
    #Hprojects{
        display: block;
    }
    #Hcontact{
        display: block;
    }
    #PrflePc{
        border: 2px solid black;
        width: 25%;
        height: auto;
        border-radius: 200px;
        position: absolute;
        right: 15px;
        top: 45px;
    }
    .headder{
        font-size: 25px;
    }
    #abtLi{
        position: relative;
        right: 100px;
    }
    main>header>section:nth-child(2)>a{
        display: none;
    }
    main>header>section:nth-child(3){
        display: none;
    }
    main>section:nth-child(3)>img{
        width: 100px;
        height: 100px;
        border-radius: 25%;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 60px;
    }
    main>section:nth-child(6)>form{
        position: relative;
        left: 55px;
    }
    main>section:nth-child(6)>dl>dt{
        font-size: 15px;
    }
    main>section:nth-child(6)>dl>dd {
        color: #43b941;
        padding-bottom: 15px;
        font-size: 12px;
    }
    main>section:nth-child(6)>form>fieldset>textarea{
        width: 265px;
    }
    main>section:nth-child(6)>dl{
        position: relative;
        left: 15px;
    }
    footer>dl>dt{
        position: relative;
        left: 20px;
    }
    footer>div{
        width: 30px;
        height: 30px;
        padding-left: 40px;
        display: contents;
    }
    footer>div>img{
        padding-right: 25px;
        width: 30px;
        height: 30px;
        padding-left: 40px;
    }
    main>section:nth-child(5)>div{

    }
    main>section:nth-child(3)>p{
        position: absolute;
    }
    #sk1{
        top: 140px;
        left: 90px;
    }
    #sk2{
        top: 140px;
        left: 272px;
    }
    #sk3{
        top: 264px;
        left: 90px;
    }
    #sk4{
        top: 264px;
        right: 65px;
    }
    main>section:nth-child(5)>div{
        display: flow-root;
        position: relative;
        left: 85px;
    }
    main>section:nth-child(4)>nav{
        position: relative;
        left: 90px;
    }
    main>section:nth-child(4)>nav>img{
        position: relative;
        left: 0px;
        padding-bottom: 20px;
    }
    #pr1{
        position: absolute;
        top: 115px;
        left: 110px;
    }
    #pr2{
        position: absolute;
        top: 310px;
        left: 110px;
    }
    #pr3{
        position: absolute;
        position: absolute;
        top: 455px;
        left: 110px;
    }
}



