#Hname{
    color: #ffffff;

}
#Hhome{
    color: #ffffff;
}
#Habout{
    color: #ffffff;
}
#Heducation{
    color: #ffffff;
}
#Hskils{
    color: #ffffff;
}
#Hprojects{
    color: #ffffff;
}
#Hlife{
    color: #ffffff;
}
#Hcontact{
    color: #ffffff;
}
#intHi{
    color: #78E08F;
}
#Mynme{
    color: #FFF200;
    font-size: 30px;
}
#cntkme{
    color: #FF3838;
    font-size: 25px;
}
.headder{
    color: #EE5A24;
    font-size: 40px;
}
#abtName{
    color: #32FF7E;
}
#abtAddress{
    color: #32FF7E;
}
#abtBDay{
    color: #32FF7E;
}
#abtAge{
    color: #32FF7E;
}
#abtAge{
    color: #32FF7E
}
#abtOcation{
    color: #32FF7E;
}
.Dcntct{
    color: blue;
    font-size: 15px;
}
.cntct{
    color: blue;
    font-size: 13px;
}